_minted-hackerschool-git/
hackerschool-git.aux
hackerschool-git.log
hackerschool-git.nav
hackerschool-git.out
hackerschool-git.snm
hackerschool-git.synctex.gz
hackerschool-git.toc
hackerschool-git.vrb

